{% extends "base.html" %}

{% block title %}Web-Chat room: {{ room }}{% endblock %}

{% block head %}
  {{ super() }}
    <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}"/>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery-1.4.2.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='firebase.js') }}"></script>
        <script type="text/javascript" src="https://hidden-bayou-4404.herokuapp.com/static/socket.io.min.js"></script>
        <script type="text/javascript" charset="utf-8">
            var socket;
            $(document).ready(function(){
                var options = {};
                //options.transports = ['websocket', 'flashsocket', 'htmlfile'];
                options.secure = true;
                options.port = location.port;
                socket = io.connect(window.location.origin, options);

                socket.on('connect', function() {

                    socket.emit('joined', {});

                    socket.on('disconnect', function(){
                    socket.socket.reconnectionDelay /= 2;
                    });
                });

                socket.on('status', function(data) {
                    chat_tag.append(advancedFormatMsg(data.msg));
                    chat_tag.scrollTop(chat_tag[0].scrollHeight);
                });

                socket.on('message', function(data) {
                    if (data.name === 'News')
                    {
                        chat_tag.append(formatMsg(data.msg));
                    }
                    else
                    {
                        chat_tag.append(advancedFormatMsg(data.msg));
                    }
                    chat_tag.scrollTop(chat_tag[0].scrollHeight);
                });

                var chat_tag = $('#chat');
                var text_tag = $('#text');
                var history_tag = $('#history_btn');
                var results_tag = $("#results");

                function processSendMsg() {
                        text = text_tag.val();
                        text_tag.val('');
                        socket.emit('text', {msg: text});
                }
                function formatMsg(msg){
                    return "<p>" + msg + "</p>";
                }
                function formatlistMsg(msg){
                    return "<li>" + msg + "</li>";
                }
                function advancedFormatMsg(msg){
                    msg = msg.replace("<","&lt;");
                    msg = msg.replace(">","&gt;");
                    return "<p>" + msg + "</p>";
                }

                function postNews() {
                   var ref = new Firebase("https://hacker-news.firebaseio.com/v0/");
                    var itemRef;
                    ref.child('newstories').child(0).on('value', function (snapshot) {
                        if (itemRef) {
                            itemRef.off();
                        }
                        //Get the ID of the top article
                        var id = snapshot.val();

                        //Get the article details and update in realtime
                        itemRef = ref.child('item').child(id);
                        itemRef.on('value', function (snapshot) {
                            var item = snapshot.val();
                            var title = item.title;
                            var href = item.url;
                            var result = "<a href="+ href + " target='_blank'>" + title + "</a>";

                            socket.emit('news', {msg: result});
                        });
                    });
                }

                setTimeout(postNews, 5000);

                $('#text_btn').click(processSendMsg);

                text_tag.keypress(function(e) {
                    var code = e.keyCode || e.which;
                    if (code == 13) {
                        processSendMsg()
                    }
                });

                $('#clear_btn').click(function(){
                    results_tag.html('');
                });

                history_tag.click(function(){
                    text = text_tag.val();
                    text_tag.val('');
                    if (text.length > 0){
                        $.ajax({
                            url: '/_history_search',
                            data: {
                                query: text
                            },
                            success: function(data){
                                var i = 0;

                                if (data.error != undefined)
                                    results_tag.html(formatMsg(data.error));
                                else {
                                    results_tag.html('');
                                    for (item in data.result) {
                                        results_tag.append(formatlistMsg(data.result[item].msg));
                                    }
                                }
                            }
                        });
                    }
                    else
                    {
                        alert("Enter at least something in message box...");
                    }
                });
            });
        </script>
{% endblock %}

{% block page_content %}
    <h1>Room: {{ room }}</h1>
    <div id="chat" >
    {% if history %}
        {% for msg in history %}
          <p> {{ msg.text }} </p>
        {% endfor %}
    {% endif %}
    </div><br><br>
    <span>
        <input id="text" size="65" placeholder="Enter your message here">
        <div id="text_btn" style="margin-left: 2em; padding: 2px 1em 2px 1em" class="btn btn-mini btn-primary">Send</div>
    </span>
    <br><br><br>
    <span>
        <a href="{{ url_for('main.index') }}" class="btn btn-mini btn-primary" onclick="socket.emit('left', {});">Leave this room</a>
        <a class="btn btn-mini btn-primary" id="history_btn" style="margin-left: 2em;">History search</a>
        <a class="btn btn-mini btn-primary" id="clear_btn" style="margin-left: 2em;">Clear</a>
    </span>
    <br><br>
    <ul id="results">
    </ul>
{% endblock %}
