{% extends "base.html" %}

{% block page_content %}
    {% if current_user.is_authenticated() %}
        Available chat rooms:
        {% if rooms %}
            <ul>
            <br/>
            {% for room in rooms %}
                <li>
                    <p>
                        <a href="{{ url_for('main.custom_chat', room=room.name) }}">{{ room }}</a>
                        | {{ room.description }}
                    </p>
                </li>
            {% endfor %}
            </ul>
        {% endif %}
        <span>
        <a class="btn btn-mini btn-primary" href="{{ url_for('main.add_room') }}">Add new</a>

        </span>
    {% else %}
        Dear Guest, please log in to see available rooms!
    {% endif %}
{% endblock %}