{% extends "base.html" %}

{% block page_content %}
    {% if current_user.is_authenticated() %}
        Available chat rooms:
        {% if rooms %}
            <ul>
            {% for room in rooms %}
                <li>
                    <a href="{{ url_for('main.custom_chat', room=room) }}">{{ room }}</a>
                </li>
            {% endfor %}
            </ul>
        {% endif %}

    {% else %}
        Dear Guest, please log in to see available rooms!
    {% endif %}
{% endblock %}